.price-range-block {
    margin:60px;
}

.sliderText{
    width:40%;
    margin-bottom:30px;
    border-bottom: 2px solid red;
    padding: 10px 0 10px 0px;
    font-weight:bold;
}

.ui-slider-horizontal {
    height: .6em;
}
.ui-slider-horizontal {
    margin-bottom: 15px;
    width:100%;
}
.ui-widget-header {
    background: #426c99;
}

.price-range-search {
    width:40.5%; 
    background-color: #f9f9f9; 
    border: 1px solid #6e6666;
    min-width: 40%;
    display: inline-block;
    height: 32px;
    border-radius: 5px;
    float: left;
    margin-bottom:20px;
    font-size:16px;
}
.price-range-field{
    width:70px; 
    min-width: 16%; 
    border: 1px solid #b0b0b0; 
    color: #3a3a3a; 
	font: normal 14px 'SSP-Regular', arial !important;
    border-radius: 0px; 
    height:40px; 
    padding:10px 8px;
}
.search-results-block{
    position: relative;
    display: block;
    clear: both;
}

